<% if resource.errors.any? %>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="alert alert-danger">
        <% resource.errors.full_messages.each do |message| %>
          <div><p><%= message %></p></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>