<section id="section_4" class="parallax parallax_one facebook_promo animatedParent " data-stellar-background-ratio="0.5">
    <div class="parallax_inner ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                <!--<h1 class="animated fadeInUp">Remedium</h1>-->
                <h3 class="animated fadeInDown">Polub nas na Facebooku! </h3>
                <a href="#" class="btn btn_fb">Lubię to!</a> </div>
            </div>
        </div>
    </div>
</section>