<footer id="section_13" class="parallax parallax_five footer" data-stellar-background-ratio="0.5">
    <div class="parallax_inner">
        <div class="container">
            <div class="contact_Us">
                <div class="tabs-wrap tabs-wrap-active clearfix">
                    <ul class="tabs">
                        <li class="tab-link tab-link1 active" data-tab="tab1">
                            <span>Posłuchaj nas</span>
                        </li>
                        <li class="tab-link tab-link2" data-tab="tab2">
                            <span>Napisz do nas</span>
                        </li>
                    </ul>
                </div>

                <div id="tab1" class="tab-content active">   
                    <ul class="channels_list row animatedParent " data-sequence="400">
                        <li class="col-xs-12 col-sm-4 animated fadeInLeftShort" data-id="1"> <a href="#"><i class="fa fa-circular fa-music"></i>itunes</a></li>
                        <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="2"><a href="#"><i class="fa fa-soundcloud"></i>soundcloud</a></li>
                        <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="3"> <a href="#"><i class="fa fa-youtube"></i>youtube</a></li>
                    </ul>
                </div>
                <div id="tab2" class="tab-content animatedParent">  
                    <div class="contactFormWrapper ">
                        <form id="contactform">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <input type="text" id="name" placeholder="Imię" name="contact_request[name]" />
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text" id="email" placeholder="Email" name="contact_request[email]" />
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="text" id="subject" placeholder="Temat" name="contact_request[subject]" />
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <textarea placeholder="Wiadomość" name="contact_request[message]" id="message"></textarea>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <button class="btn btn-default" type="submit" form="contactform">
                                        Wyślij wiadomość
                                    </button>
                                </div>

                            </div>
                        </form>
                        <div id="valid-issue" style="display:none;"> Prosimy o podanie prawdziwych danych.</div>  
                    </div>
                </div>
                
            </div>  
        
            <div class="row" style="display: unset!important">
                <div class="col-xs-12">
                <div class="copyrights">&copy; 2020 <a href="#">REMEDIUM</a>.</div>
                </div>
            </div>
        </div>
    </div>
</footer>