<section id="section_8" class="parallax parallax_three event_promo" data-stellar-background-ratio="0.5">
    <div class="parallax_inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animatedParent ">
                <h1 class="animated fadeInDown">Występujemy na WOŚPie!</h1>
                <h3 class="animated bounceInRight">WOŚP Koronowo</h3>
                <h5  class="animated bounceInUp">1 styczeń 2020</h5>
                <a href="#" class="btn">Kup bilety</a> </div>
            </div>
        </div>
    </div>
</section>